.ui-loader {
	width: 36px;
	height: 36px;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	border: 4px solid var(--blue-loader-color);
}

.ui-loader__blue {
	border: 4px solid var(--blue-loader-color);
}

.ui-loader__white {
	border: 4px solid var(--white-loader-color);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}