.Drawer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	opacity: 0;
	pointer-events: none;
	z-index: var(--modal-zindex);
	max-width: 100%;
	animation: spawn-drawer 0.3s forwards;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

@keyframes spawn-drawer {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.content {
	padding: 20px 30px;
	border-radius: 12px;
	background: var(--bg-color);
	min-height: 50%;
	max-height: 70%;
	width: 100%;
	box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.18);
	position: relative;
	overflow: auto;
}