.wrap {
	width: 100%;
}

.RootLayout {
	// margin-top: 120px;
	max-width: var(--main-content-width);
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 32px;
	gap: var(--gap-32);
}