.Avatar {
	border-radius: 50%;
}

.size_s {
	width: 32px;
	height: 32px;
}

.size_m {
	width: 48px;
	height: 48px;
}

.size_l {
	width: 56px;
	height: 56px;
}

.size_xl {
	width: 64px;
	height: 64px;
}