.Input {
	background: var(--input-bg-color);
	border: 1.5px solid var(--primary-text-color);
	color: #131313;
	font-size: var(--font-size-m-text);
	border-radius: 5px;
	padding: 24px 20px;
	outline: none;
	width: 100%;
	height: 40px;
}

.label {
	margin-top: 8px;
}

.readonly {
	opacity: 0.7;
	border: none;
}

.blur {
	border: 2px solid var(--input-focused-color);
}