.Navbar {
	width: 100%;
	background: linear-gradient(90deg, rgba(10, 26, 130, 1) 0%, rgba(25, 31, 156, 1) 100%);
	padding: 25px 40px;
	display: flex;
	box-shadow: 0px 8px 12px -6px rgba(38, 54, 67, 0.2);
}

.panel {
	width: 100%;
}

.link {
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	transition: 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.linkAactive {
	color: #c2c2c2;
}

.btns {
	margin-left: auto;
}