.Card {
	width: 100%;
	background: var(--card-bg);
	border-radius: 8px;
	box-shadow: 0px 1px 12px -6px rgba(38, 54, 67, 0.2);
}

.showBorder {
	border: 1.7px solid rgb(241, 241, 241);
}

.hover {
	cursor: pointer;

	&:hover {
		transition: 0.3s;
		background: rgb(246, 246, 246);
	}
}

.content {
	border-radius: 8px;
}

.paddingS {
	padding: var(--padding-s);
}

.paddingM {
	padding: var(--padding-m);
}

.paddingL {
	padding: var(--padding-l);
}

.paddingXL {
	padding: var(--padding-xl);
}